*{ font-family: 'Times New Roman', Times, serif;

}
nav{
    font-size: x-large;
    color: white;
    background-color: black;
    margin: 20px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left : 60%;
    color: grey;
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
      width: 60%;
     padding: 15px;
    
}
.searchbar{
    padding: 45px;
    text-align: center;
    
}
img{
    width: 300px;
    height: 300px;
    
    
}
.box{
    border-style: solid;
    border-color: black;
    border-width: 100% ;
    display: inline-block;
    width: 300px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: beige;
    cursor: pointer;
   
}
.about{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    
}
.contact{
    background-color: black;
    color: aliceblue;
    text-align: center;
    
}